{% extends 'base.html.twig' %}
{% block title 'Gerer les Rooms' %}
 {% block body %}
     <div class="container mt-4">
         <h1>Gerer les Rooms</h1>
         {% for message in app.flashes('success') %}
             <div class="alert alert-success">{{ message }}</div>
         {% endfor %}

         <table class="table table-striped">
             <thead>
             <tr>
                 <th>Titre</th>
                 <th>Statut</th>
                 <th>Actions</th>
             </tr>
             </thead>
             <tbody>
             {% for room in rooms  %}
                <tr>
                    <td>{{ room.name }}</td>
                    <td>{{ room.status }}</td>
                    <td>
                        <a href="{{ path('admin.room.edit', {id: room.id}) }}" class="btn btn-secondary d-inline-block">Editer</a>

                        <form method="post" action="{{ path('admin.room.delete', {id: room.id}) }}" class="d-inline-block" onsubmit="confirm('are you sure?')">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~room.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
             {% endfor %}
             </tbody>
         </table>
         <div class="text-right">

             <a href="{{ path('admin.room.new') }}" class="btn btn-primary">Creer une nouvelle Room</a>
         </div>
     </div>
 {% endblock %}

